.heading {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
  display: block;
}

.examples {
  border-width: 1px 0;
  border-style: solid;
  border-color: #3a3a3c;
  display: block;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
  max-width: 50%;
}
