.container {
  height: 200px;
  width: 500px;
}

.keyboard {
  margin: 0 8px;
  user-select: none;
}

.keyboard button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #818384;
  color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.keyboard button:last-of-type {
  margin: 0; /* amazing */
}

.keyboard .row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation; /* mobile */
}

.keyboard .half {
  flex: 0.5;
}

.keyboard .one-and-a-half {
  flex: 1.5;
  font-size: 12px;
}

.two {
  flex: 2;
}
