:root{
  --color-tone-1: white;

  /* State-based Styles */
  --color-present: #b59f3b;
  --color-correct: #538d4e;
  --color-abscent: #3a3a3c;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #121213;
}

#__next{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

